<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/thach-btap7.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main">
        <div class="main-left">
            <div class="port">
                <br>
                <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="">
                <br>
                <br>
                <h4><b>PORTFOLIO</b></h4>
                <p>Template by W <sub>3</sub> .CSS</p>
            </div>
            <a href="#po" class="icon1"><i class="fas fa-th-large"></i>PORTFOLIO</a>
            <a href="#ab"><i class="fas fa-user"></i>ABOUT</a>
            <a href="#co"><i class="fas fa-envelope"></i>CONTACT</a>
            <div class="port-icon">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-snapchat"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin-in"></i>
            </div>
        </div>
        <div class="main-right">
            <div class="my-port" id="po">
                <span id="moblie-icon1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fas fa-bars"></i></span>
                <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="" id="moblie-img1">
                <h1><b>My Portfolio</b></h1>
                <div class="section">
                    <span>Filter:</span>
                    <button class="section-btn1 btn2">ALL</button>
                    <button class="btn2"><i class="far fa-gem"></i>Design</button>
                    <button class="mi1 btn2"><i class="far fa-image"></i>Photos</button>
                    <button class="mi1 btn2"><i class="fas fa-map-pin"></i>Art</button>
                </div>
                <!-- offcanvas -->
                <div class="main-left offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" data-bs-scroll="true">
                    <div class="port ">
                        <br>
                        <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="">
                        <button type="button" id="btn-1" data-bs-dismiss="offcanvas" title="close menu" ><i class="fas fa-times"></i></button>
                        <br>
                        <br>
                        <h4><b>PORTFOLIO</b></h4>
                        <p>Template by W <sub>3</sub> .CSS</p>
                    </div >
                    <div data-bs-dismiss="offcanvas">
                        <a href="#po" class="icon1" ><i class="fas fa-th-large"></i>PORTFOLIO</a>
                    </div>
                    <div data-bs-dismiss="offcanvas">
                        <a href="#ab" ><i class="fas fa-user"></i>ABOUT</a>
                    </div>
                    <div data-bs-dismiss="offcanvas">
                        <a href="#co" ><i class="fas fa-envelope"></i>CONTACT</a>
                    </div>
                    <div class="port-icon" id="p-icon">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-snapchat"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
            <div class="row1">
                <div class="third">
                    <img src="https://www.w3schools.com/w3images/mountains.jpg" alt="">
                    <div class="third-text">
                        <p><b>Lorem Ipsum</b></p>
                        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    </div>
                </div>
                <div class="third">
                    <img src="https://www.w3schools.com/w3images/lights.jpg" alt="">
                    <div class="third-text">
                        <p><b>Lorem Ipsum</b></p>
                        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    </div>
                </div>
                <div class="third">
                    <img src="https://www.w3schools.com/w3images/nature.jpg" alt="">
                    <div class="third-text">
                        <p><b>Lorem Ipsum</b></p>
                        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    </div>
                </div>
            </div>
            <div class="row1">
                <div class="third">
                    <img src="https://www.w3schools.com/w3images/p1.jpg" alt="">
                    <div class="third-text">
                        <p><b>Lorem Ipsum</b></p>
                        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    </div>
                </div>
                <div class="third">
                    <img src="https://www.w3schools.com/w3images/p2.jpg" alt="">
                    <div class="third-text">
                        <p><b>Lorem Ipsum</b></p>
                        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    </div>
                </div>
                <div class="third">
                    <img src="https://www.w3schools.com/w3images/p3.jpg" alt="">
                    <div class="third-text">
                        <p><b>Lorem Ipsum</b></p>
                        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    </div>
                </div>
            </div>
            <div class="next">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous" >
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item" id="page-1"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
            <div class="about" id="ab">
                <div class="about-img">
                    <img src="https://www.w3schools.com/w3images/avatar_g.jpg" alt="">
                    <img src="https://www.w3schools.com/w3images/me2.jpg" alt="">
                </div>
                <div class="about-me">
                    <h4><b>About Me</b></h4>
                    <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    <hr>
                    <h4>Technical Skills</h4>
                    <p>Photography</p>
                    <div class="about-ty-le">
                        <div class="about-ty-le-1">95%</div>
                    </div>
                    <p>Web Design</p>
                    <div class="about-ty-le">
                        <div class="about-ty-le-2">85%</div>
                    </div>
                    <p>Photoshop</p>
                    <div class="about-ty-le">
                        <div class="about-ty-le-3">80%</div>
                    </div>
                    <p>
                        <button><i class="fas fa-download"></i>Download Resume</button>
                    </p>
                    <hr>
                    <h4>How much I charge</h4>
                    <div class="row-2">
                        <div class="thid-2">
                            <ul>
                                <li class="li1">Basic</li>
                                <li class="li2">Web Design</li>
                                <li class="li2">Photography</li>
                                <li class="li2">1GB Storage</li>
                                <li class="li2">Mail Support</li>
                                <li class="li2">
                                    <h2>$ 10</h2>
                                    <span>per month</span>
                                </li>
                                <li class="li3">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign Up</button>
                                </li>
                            </ul>
                        </div>
                        <div class="thid-2">
                            <ul>
                                <li class="li1" id="ss">Pro</li>
                                <li class="li2">Web Design</li>
                                <li class="li2">Photography</li>
                                <li class="li2">50GB Storage</li>
                                <li class="li2">Endless Support</li>
                                <li class="li2">
                                    <h2>$ 25</h2>
                                    <span>per month</span>
                                </li>
                                <li class="li3">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign Up</button>
                                </li>
                            </ul>
                        </div>
                        <div class="thid-2">
                            <ul>
                                <li class="li1">Premium</li>
                                <li class="li2">Web Design</li>
                                <li class="li2">Photography</li>
                                <li class="li2">Unlimited Storage</li>
                                <li class="li2">Endless Support</li>
                                <li class="li2">
                                    <h2>$ 25</h2>
                                    <span>per month</span>
                                </li>
                                <li class="li3">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign Up</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact" id="co">
                <h4><b>Contact Me</b></h4>
                <div class="contact-thid">
                  <div class="thid-3 m1">
                    <p><i class="fa fa-envelope" id="icon2"></i></p>
                    <p>email@email.com</p>
                  </div>
                  <div class="thid-3 m2">
                    <p><i class="fas fa-map-marker-alt" id="icon2"></i></p>
                    <p>Chicago, US</p>
                  </div>
                  <div class="thid-3 m1">
                    <p><i class="fa fa-phone" id="icon2"></i></p>
                    <p>512312311</p>
                  </div>
                </div>
                <hr class="hr1">
                <form  target="_blank">
                  <div class="contact-text">
                    <label>Name</label>
                    <input class="" type="text" name="Name" required>
                  </div>
                  <div class="contact-text">
                    <label>Email</label>
                    <input class="w3-input w3-border" type="text" name="Email" required>
                  </div>
                  <div class="contact-text">
                    <label>Message</label>
                    <input class="" type="text" name="Message" required>
                  </div>
                  <button type="submit" class=""><i class="fa fa-paper-plane "></i>Send Message</button>
                </form>
            </div>
            <div class="footer">
                <div class="thid-4">
                  <h3>FOOTER</h3>
                  <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
                </div>
                <div class="thid-4">
                  <h3>BLOG POSTS</h3>
                  <li class="li1-b">
                    <img src="https://www.w3schools.com/w3images/workshop.jpg" alt="">
                    <span>
                      <span class="bl">Lorem</span>
                      <br>
                      <span>Sed mattis nunc</span>
                    </span>
                  </li>
                  <li>
                    <img src="https://www.w3schools.com/w3images/gondol.jpg" alt="">
                    <span>
                      <span class="bl">Ipsum</span>
                      <br>
                      <span>Praes tinci sed</span>
                    </span>
                  </li>
                </div>
                <div class="thid-4">
                  <h3>POPULAR TAGS</h3>
                    <p>
                      <span class="sp1 sp2">Travel</span>
                      <span class="sp1">New York</span>
                      <span class="sp1">London</span>
                      <span class="sp1">IKEA</span>
                      <span class="sp1">NORWAY</span>
                      <span class="sp1">DIY</span>
                      <span class="sp1">Ideas</span>
                      <span class="sp1">Baby</span>
                      <span class="sp1">Family</span>
                      <span class="sp1">News</span>
                      <span class="sp1">Clothing</span>
                      <span class="sp1">Shopping</span>
                      <span class="sp1">Sports</span>
                      <span class="sp1">Games</span>
                    </p>
                </div>
                
            </div>
            <div class="end">
                <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-1">
                <div class="modal-con">
                    <h1>CAN YOU COME?</h1>
                    <p>We really hope you can make it.</p>
                    <input type="text" placeholder="Name(s)">
                    <p><i>Sincerely, John & Jane</i></p>
                    <div>
                        <button class="c1" data-bs-dismiss="modal">Going</button>
                        <button class="c2" data-bs-dismiss="modal">Can't come</button>
                    </div>
                    </div>
            </div>
        </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>