<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/thach-buoi24.css">
    <title>TODOLIST</title>
</head>
<body>
    <p>hello</p>
    <div class="container" >
        <div class="con1">
            <div class="todo">
                <h1>Todo</h1>
                <div class="todo-list">
        
                </div>
                <div class="todobutton"></div>
                <button type="button" class="btn btn-primary mi" onclick=test1() data-toggle="modal" data-target="#exampleModal">
                    + Add another card
                </button>
            </div>
        </div>

        <div class="con1">
            <div class="doing">
                <h1>Doing</h1>
                <div class="doing-list">
        
                </div>
                <div class="doingbutton"></div>
                <button type="button" class="btn btn-primary mi" onclick=test1() data-toggle="modal" data-target="#exampleModal">
                    + Add another card
                </button>
            </div>
        </div>

        <div class="con1">
            <div class="done">
                <h1>Done</h1>
                <div class="done-list">
        
                </div>
                <div class="donebutton"></div>
                <button type="button" class="btn btn-primary mi" onclick=test1() data-toggle="modal" data-target="#exampleModal">
                    + Add another card
                </button>
            </div>
        </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Add Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <input type="text" id="name1">
                    <input type="date" id="dealine1">
                    <select id="status1">
                        <option value="todo">todo</option>
                        <option value="doing">doing</option>
                        <option value="done">done</option>
                    </select>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary clo" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add">Thêm</button>
                <button type="button" class="btn btn-primary" id="update">Update</button>
                </div>
            </div>
        </div>
    </div>

</body>
    <!-- B4 dùng cú pháp jquery để lấy data từ sever về -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="../ak.js"></script> -->
    <script src="http://localhost:4000/public/js/todo.js"></script> <!-- B3 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer">
    </script> 
     
</html>